@import "tailwindcss";


.navbar {
  z-index: 1;
}

h2 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  padding-top: 1rem;
  margin-top: 3rem;
}

.no-style {
  text-decoration: none;
  color: inherit;
}

.pointer {
  cursor: pointer;
  user-select: none;
}

@media (max-width: 575px) {
  .container {
    padding-inline: 2rem;
  }
}
