@import "tailwindcss";

h2 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  padding-top: 1rem;
  margin-top: 3rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
